/* font add */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .secondary-bg{
      background-color: rgba(198, 228, 214, 1);}
  
  
  
  
  
  /* universal */
  /* *{
      margin: 0px;
      padding: 0px;
      background-color: #F1F1F3;
  } */
   /* header */
   header{
      /* mawidth: 1360px; */
      /* max-height: 560px; */
      margin: 0 auto;
   }
  /* banner section */
  .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 200px;
      background-color: rgba(198, 228, 214, 1);
      /* border: #FD6E0A; */
      padding: 80px 100px;
      border-radius: 24px;
      gap: 64px;
      color: rgba(198, 228, 214, 1);
  }
  .banner-content{
      /* background-color: rgba(198, 228, 214, 1); */
      height: 326px;
      width: 622 px;
      /* display: flex; */
      /* flex-direction: column; */
  
      
  }
  .banner-greeting{
      font-size: 24px;
      font-weight: medium;
      color: rgba(14, 14, 14, 0.5);
  }
  .banner-title{
      font-size: 56px;
      font-weight: bold;
      height: 201px;
      max-width: ;width: 622px;
      color: rgba(14, 14, 14, 1);
  }
  
  }
  .btn-primary{
      background-color:rgba(0, 106, 80, 1);
      font-weight: semi-bold;
      color: rgba(255, 255, 255, 1);
      border: none;
      padding: 17px 34px;
      border-radius: 8px;
      font-size: 18px;
      box-sizing: 56px 270px;
      margin-top: 24px;
  
  }
  .secondary-bg-button{
      background-color: rgba(0, 106, 80, 1);
  }
  /* vision of future */
  .vision-container{
      display: flex;
      gap: 24px;
  }
  main{
      max-width: 1280px;
      margin: 0 auto;
  }
  .vf-title{
      font-size: 40px;
      font-weight: bold;
      color: rgba(14, 14, 14, 1);
      margin-bottom: 24px;
  }
  .vf-description{
      font-size: 16px;
      font-weight: regular;
      color: rgba(14, 14, 14, 0.7);
  }
  .vision{
      padding: 32px;
      border-radius: 16px;
      background-color: rgba(84, 144, 245, 0.2);
  }
  .vision-title{
      font-size: 20px;
      font-weight: bold;
      color: rgba(14, 14, 14, 0.8);
  }
  .vision-description{
      font-size: 16px;
      font-weight: regular;
      color: rgba(14, 14, 14, 0.7);
  }
  main button a{
      text-decoration: none;
  }
  .vision-btn{
      padding: 11px 20px;
      border-radius: 8px;
      background-color: rgba(84, 144, 245, 1);
      border: none;
  }